::-webkit-scrollbar {
  width: 0px;
}

.App {
  padding: 0 10px;
}

.progressWrapper {
  background-color: #152035;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 10px;
}
.progressBar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #aaa;
}
